@import "./mixin";
@import "./variables";
@import "./base";

@import "./main-style/home.scss";
@import "./main-style/shop.scss";
@import "./main-style/product-detail-page.scss";
@import "./main-style/wishlist.scss";
@import "./main-style/address.scss";
@import "./main-style/shipping-detail.scss";
@import "./main-style/payment.scss";
@import "./main-style/contact.scss";

@import "./layout-style/header.scss";
@import "./layout-style/footer.scss";
@import "./layout-style/shop-filter.scss";
@import "./layout-style/account.scss";
@import "./layout-style/cart.scss";
@import "./layout-style/order-container.scss";
@import "./layout-style/order-history.scss";
@import "./layout-style/order-status.scss";

@import "./component-style/search-container.scss";
@import "./component-style/product-sale.scss";
@import "./component-style/drop-down.scss";
@import "./component-style/modal.scss";
@import "./component-style/modal-confirm.scss";
@import "./component-style/modal-heading.scss";
@import "./component-style/cart-item.scss";
@import "./component-style/home-heading.scss";
@import "./component-style/cart-modal.scss";
@import "./component-style/category.scss";
@import "./component-style/product-image.scss";
@import "./component-style/product-intro.scss";
@import "./component-style/product-item.scss";
@import "./component-style/loading.scss";
@import "./component-style/product-item-list.scss";
@import "./component-style/modal-product-detail.scss";
@import "./component-style/input-quantity.scss";
@import "./component-style/category-dropdown.scss";
@import "./component-style/product-promotion.scss";
@import "./component-style/product-trending.scss";
@import "./component-style/form-control.scss";
@import "./component-style/breadcrumb.scss";
@import "./component-style/compare.scss";
@import "./component-style/stars.scss";
@import "./component-style/heading.scss";
@import "./component-style/input-range.scss";
@import "./component-style/custom-library.scss";
@import "./component-style/button-share.scss";
@import "./component-style/product-tabs.scss";
@import "./component-style/product-variation.scss";
@import "./component-style/otp-container.scss";
@import "./component-style/address-item.scss";
@import "./component-style/address-form.scss";
@import "./layout-style/account-general.scss";
@import "./component-style/category-item.scss";
@import "./component-style/cart-page-item.scss";
@import "./component-style/input-checkbox.scss";
@import "./component-style/promotion-modal.scss";
@import "./component-style/cart-total.scss";
@import "./component-style/popup.scss";
@import "./component-style/product-review.scss";
@import "./component-style/common.scss";
@import "./component-style/pagination.scss";
@import "./component-style/chat.scss";
@import "./component-style/product-rating.scss";
@import "./component-style/rating-form.scss";
@import "./component-style/purchase.scss";
