// .footer {
//   margin-bottom: $nav-bottom-height;
//   @include responsive(md-screen) {
//     margin-bottom: 0;
//   }

//   &__notification {
//     background-color: $indigo;
//     color: $white;

//     &-wrapper {
//       @include flex(space-between, center);
//       flex-direction: column;
//       @include responsive(lg-screen) {
//         flex-direction: row;
//       }
//       // padding: 4rem 0;
//     }

//     &-left {
//       margin-top: 3rem;
//       width: 100%;
//       @include responsive(sm-screen) {
//         width: 80%;
//       }
//       @include responsive(lg-screen) {
//         width: 40%;
//         margin-top: 0;
//       }
//       padding: 2rem 0;

//       & h3 {
//         @include style-text(700, 2.4rem, 2.4rem, $white);
//         margin-bottom: 1.6rem;
//       }
//       & p {
//         @include style-text(500, 1.3rem, 1.8rem, rgb(139, 151, 199));
//         margin-bottom: 2rem;
//       }
//       &-form {
//         align-items: center;
//         height: 65px;
//         background-color: #fff;
//         position: relative;
//         border-radius: 5px;
//         overflow: hidden;

//         & input[type="text"] {
//           height: 100%;
//           width: 100%;
//           padding: 1.2rem 2rem 1.2rem 4rem;
//           outline: none;
//           border: none;
//           @include style-text(500, 1.5rem, 2rem, $text-color);
//         }

//         & input[type="submit"] {
//           @include button($indigo, white, 1.4rem, 600, 1rem, 1rem);
//           border: none;
//           width: 100px;
//           height: 88%;
//           border-radius: 5px;
//           @include absolute-center-vertical(unset, 0.4rem);
//         }

//         & svg {
//           @include absolute-center-vertical(1rem, unset);
//           fill: $text-color-opacity;
//           font-size: 2.4rem;
//         }
//       }
//     }

//     &-right {
//       width: 60%;
//       // @include responsive(lg-screen) {
//       //   width: 40%;
//       // }
//       display: flex;
//       justify-content: flex-end;

//       & img {
//         max-width: 500px;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//       }
//     }
//   }

//   &__slogan {
//     padding: 4rem 0;
//     border-bottom: 1px solid $border-color-1;

//     &-list {
//       @include flex(space-between, center);
//       list-style: none;
//       flex-direction: column;
//       flex-wrap: wrap;
//       @include responsive(sm-screen) {
//         flex-direction: row;
//       }

//       &-item {
//         width: 100%;
//         @include style-text(600, 1.3rem, 1.8rem, $text-color);
//         @include flex-center;
//         padding: 2rem 0;
//         @include responsive(sm-screen) {
//           width: 50%;
//         }
//         @include responsive(lg-screen) {
//           border-right: 1px solid $border-color-1;
//           width: 25%;
//           font-weight: 500;
//           padding: 0 2rem;
//         }

//         &:last-child {
//           border-right: 0;
//         }

//         & svg {
//           margin-right: 1rem;
//           font-size: 2rem;
//           fill: $text-color;
//         }
//       }
//     }
//   }

//   &__main {
//     &-category {
//       margin: 6rem 0;

//       & a {
//         text-decoration: none;
//         @include style-text(500, 1.3rem, 2.3rem, $home-heading-color);
//         @include responsive(lg-screen) {
//           font-size: 1.4rem;
//           line-height: 2.4rem;
//         }
//         transition: 0.2s linear;

//         &:hover {
//           color: $primary-color;
//         }
//       }

//       & ul {
//         list-style: none;
//       }
//       .category-list {
//         display: grid;
//         grid-template-columns: 1fr;
//         grid-gap: 2rem;
//         flex-wrap: wrap;

//         @media screen and (min-width: 450px) {
//           grid-template-columns: 1fr 1fr;
//         }

//         @include responsive(md-screen) {
//           grid-template-columns: 1fr 1fr 1fr;
//         }

//         @include responsive(lg-screen) {
//           grid-template-columns: repeat(4, 1fr);
//         }
//       }
//     }

//     &-contact {
//       &-wrapper {
//         @include flex-center;
//         flex-direction: column;
//         @include responsive(lg-screen) {
//           flex-direction: row;
//         }
//         padding: 3rem 0;
//         border-bottom: 1px solid $border-color-1;
//       }

//       &-left {
//         width: 100%;
//         @include flex-center;
//         margin-bottom: 2rem;
//         @include responsive(lg-screen) {
//           margin-bottom: 0;
//           width: 30%;
//         }

//         .phone-icon {
//           width: 40px;
//           height: 40px;
//           border: 1px solid $border-color-1;
//           border-radius: 50%;
//           @include flex-center;
//         }
//         .phone-info {
//           margin-left: 1.6rem;

//           & p:first-child {
//             @include style-text(600, 2rem, 3rem, $home-heading-color);
//             margin-bottom: 0.6rem;
//           }

//           & p:last-child {
//             @include style-text(400, 1.2rem, 1.2rem, $text-color-opacity);
//           }
//         }
//       }

//       &-right {
//         width: 100%;
//         @include flex(center, center);
//         flex-direction: column;
//         @include responsive(lg-screen) {
//           flex-direction: row;
//           justify-content: flex-end;
//           width: 70%;
//         }

//         .heading {
//           @include style-text(700, 1.5rem, 2.4rem, $home-heading-color);
//           margin-right: 0;
//           @include responsive(lg-screen) {
//             margin-right: 2rem;
//             font-size: 1.4rem;
//           }
//         }

//         .image-wrapper {
//           display: flex;
//           align-items: center;
//           margin: 2rem 0;

//           &-item {
//             width: 100px;
//             border-radius: 5px;
//             overflow: hidden;
//           }

//           &-last {
//             margin-left: 1rem;
//           }
//         }

//         .icon-wrapper {
//           display: flex;
//           margin-top: 2rem;
//           @include responsive(lg-screen) {
//             margin-left: 2rem;
//             margin-top: 0;
//           }

//           & a {
//             width: 40px;
//             height: 40px;
//             border-radius: 50%;
//             border: 1px solid $border-color-1;
//             @include flex-center;
//             margin-right: 0.8rem;
//             color: $blue;

//             & svg {
//               font-size: 1.8rem;
//             }
//           }

//           & a:last-child {
//             margin-right: 0;

//             & svg {
//               fill: $info;
//             }
//           }

//           & a:nth-child(2) {
//             & svg {
//               fill: $danger;
//             }
//           }
//         }
//       }
//     }

//     &-info {
//       @include flex(space-between, center);
//       flex-direction: column;
//       @include responsive(lg-screen) {
//         flex-direction: row;
//       }
//       padding: 3rem 0;

//       & p {
//         color: rgb(166, 180, 212);
//         @include style-text(400, 1.2rem, 1.8rem, $text-color-opacity);
//         margin-bottom: 1.6rem;
//         @include responsive(lg-screen) {
//           margin-bottom: 0;
//         }
//       }
//       & img {
//       }
//     }
//   }
// }

.footer {
  margin-bottom: $nav-bottom-height;
  margin-top: 3rem;
  padding-block: 2rem;
  @include responsive(lg-screen) {
    margin-bottom: 0;
  }

  &__top-wrapper {
    background-color: #f7f7f7;
  }

  &__top {
    @include flex(start, center);
    padding-block: 2rem;
    flex-direction: column;
    justify-content: center;
    @include responsive(lg-screen) {
      flex-direction: row;
    }

    & svg {
      position: relative;
      font-size: 7rem;
      color: $yellow;
      margin-bottom: 1rem;
      @include responsive(lg-screen) {
        margin-bottom: 0;
        margin-right: 2rem;
      }
    }

    &-text {
      @include style-text(500, 1.3rem, 2.3rem, $text-color);
      text-align: center;
      margin-bottom: 1rem;

      @include responsive(lg-screen) {
        text-align: left;
        margin-right: 4rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin-bottom: 0;
      }

      & p:first-child {
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 600;
        margin-bottom: 0.4rem;

        @include responsive(md-screen) {
          font-size: 1.6rem;
          line-height: 2.6rem;
        }
      }

      & p:last-child {
        font-weight: 400;
      }
    }

    &-input {
      display: flex;
      align-items: center;
      height: 40px;

      & input {
        height: 100%;
        border: 1px solid $border-color-1;
        padding-inline: 1.2rem;
        margin-right: 0.4rem;
        @include style-text(500, 1.4rem, 1.4rem, $text-color);
        border-radius: 0.4rem;
      }

      & button {
        height: 100%;
      }
    }
  }

  &__body {
    padding-top: 4rem;
    padding-bottom: 2rem;
    display: grid;
    &-list {
      grid-gap: 2rem;
      list-style: none;

      &-item {
        margin-bottom: 1.2rem;
        &-heading {
          text-transform: uppercase;
          margin-bottom: 2rem;
          @include style-text(600, 1.4rem, 2.2rem, $text-color);
        }

        &-title {
          @include style-text(500, 1.3rem, 2rem, $text-color);
          margin-bottom: 1rem;
          display: block;
        }

        & img {
          max-width: 180px;
          width: 100%;
        }
      }
    }

    .image-wrapper {
      display: flex;
      align-items: center;
      margin: 2rem 0;
      flex-direction: column;
      @include responsive(lg-screen) {
        flex-direction: row;
      }

      &-item {
        width: 100px;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 1rem;
      }
    }

    & .footer__main-contact-right {
      &-heading {
        margin-top: 3rem;
      }
    }

    .footer__body-icon-wrapper {
      display: flex;
      margin-top: 2rem;
      @include responsive(lg-screen) {
        margin-left: 2rem;
        margin-top: 0;
      }

      & a {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $border-color-1;
        @include flex-center;
        margin-right: 0.8rem;
        color: $blue;

        & svg {
          font-size: 1.8rem;
        }
      }

      & a:last-child {
        margin-right: 0;

        & svg {
          fill: $info;
        }
      }

      & a:nth-child(2) {
        & svg {
          fill: $danger;
        }
      }
    }

    &-address-wrapper {
      border-top: 1px solid $border-color-2;
    }

    &-address {
      @include flex(flex-start, center);
      flex-direction: column;
      padding-block: 2rem;
      @include responsive(lg-screen) {
        flex-direction: row;
        padding-top: 4rem;
        padding-bottom: 3rem;
      }

      &-icon {
        margin-right: 2rem;

        & svg {
          font-size: 6rem;
          color: $text-color-opacity;
          display: none;
          @include responsive(lg-screen) {
            display: block;
          }
        }
      }

      &-info {
        @include style-text(500, 1.3rem, 2rem, $text-color);
        & strong {
          margin-right: 0.4rem;
        }

        & p:first-child {
          margin-bottom: 0.6rem;
        }

        & p:last-child {
          font-size: 1.2rem;
          line-height: 1.8rem;
          margin-bottom: 0.6rem;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    @include responsive(lg-screen) {
      margin-top: 2rem;
      flex-direction: row;
    }

    &-left {
      flex: 1;

      & h4 {
        @include style-text(500, 1.3rem, 2rem, $text-color);
        margin-bottom: 0.5rem;
      }
      & p {
        @include style-text(400, 1.2rem, 1.8rem, $text-color);
      }
    }

    &-right {
      flex: 1;
      max-width: 150px;
      margin-top: 1rem;
      margin-left: auto;
      @include responsive(lg-screen) {
        margin-top: 0;
      }
    }
  }
}
