.header {
  &__notification {
    display: none;
    background-color: $indigo;
    padding: 1rem;
    text-align: center;
    @include responsive(sm-screen) {
      display: block;
    }

    & h3 {
      @include style-text(500, 1.1rem, 1.8rem, $white-opacity);
      @include responsive(lg-screen) {
        font-size: 1.2rem;
      }
    }
  }

  .header__actions-wrapper {
    border-bottom: 1px solid $border-color-1;
    display: none;
    @include responsive(xl-screen) {
      display: block;
    }

    .header__actions {
      @include flex(space-between, center);

      &-left {
        .header__actions-list {
          @include flex(flex-start, center);
          list-style: none;

          &-item {
            & a {
              @include style-text(400, 1.2rem, 1.2rem, $text-color);
              margin-right: 1.5rem;
              padding: 1rem 0;
              &:hover {
                color: $blue;
              }
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      &-right {
        @include flex-center;
        position: relative;

        &-notification {
          display: flex;
          padding-right: 1.5rem;
          border-right: 1px solid $border-color-1;

          & p {
            @include style-text(400, 1.2rem, 1.2rem, $text-color);

            &:first-child {
              padding-right: 1rem;
            }

            &:last-child {
              padding-left: 1rem;

              & strong {
                @include style-text(600, 1.3rem, 1.2rem, $cyan);
              }
            }
          }
        }

        &-tools {
          padding-left: 1.5rem;
          @include flex-center;

          & p,
          a {
            @include style-text(500, 1.2rem, 2.2rem, $text-color);
          }

          &-language {
            @include flex(flex-start, center);
            cursor: pointer;
            margin-right: 2rem;
            position: relative;
            padding: 1rem 0;

            & svg {
              font-size: 1.2rem;
              margin-left: 0.4rem;
            }

            .header__actions-language-dropdown {
              @include hidden;
              position: absolute;
              right: 0;
              top: 100%;
              background-color: $white;
              transition: $transition-1;
              box-shadow: $box-shadow-1;
              border: 1px solid $border-color-1;

              & p {
                white-space: nowrap;
                padding: 1.5rem 2rem;
              }
            }

            &:hover {
              color: $cyan;
            }

            &:hover .header__actions-language-dropdown {
              @include show;
              z-index: 10;
              color: $text-color;

              & p {
                color: $text-color;
              }
            }
          }

          &-option {
            a,
            button {
              @include style-text(500, 1.4rem, 2.4rem, $primary-color);
              font-family: $second-font;
            }

            & button {
              color: $text-color;
            }
          }
        }
      }
    }
  }

  &__main-wrapper {
    position: static;
    transition: all 0.1s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    @include responsive(xl-screen) {
      box-shadow: none;
    }

    &-active {
      @include fixed(0, 0, unset, 0);
      z-index: 1000;
      background-color: #fff;

      @include responsive(lg-screen) {
        position: static;
      }
    }

    .header__main-top {
      @include flex(space-between, center);
      padding: 0.6rem 0;
      @include responsive(md-screen) {
        // padding: 2.8rem 0;
        padding: 1.4rem 0;
      }
      @include responsive(xl-screen) {
        padding-top: 2rem;
        padding-bottom: 0;
      }

      &-menu-btn {
        margin-right: 1.6rem;
        @include responsive(xl-screen) {
          display: none;
        }
        & svg {
          font-size: 2.4rem;
          fill: #3e445a;
        }
      }

      &-logo-wrapper {
        max-width: unset;
        @include responsive(lg-screen) {
          max-width: 200px;
          width: 100%;
        }

        @include responsive(xl-screen) {
          max-width: 250px;
        }
      }

      &-logo {
        width: 120px;
        @include responsive(md-screen) {
          width: 160px;
        }
      }

      &-search {
        flex: 1;
        display: none;
        @include responsive(lg-screen) {
          display: block;
        }
        position: relative;
      }

      &-actions {
        max-width: unset;
        @include responsive(lg-screen) {
          max-width: 220px;
          width: 100%;
        }
        @include responsive(xl-screen) {
          max-width: 250px;
        }
        @include flex(flex-end, center);

        &-user {
          display: none;
          @include responsive(md-screen) {
            display: block;
            margin-right: 0.7rem;
          }
        }

        .header__main-top-actions-icon {
          width: 40px;
          height: 40px;
          @include flex-center;
          border: 1px solid $border-color-1;
          border-radius: 50%;
          display: none;
          @include responsive(lg-screen) {
            display: flex;
          }

          & svg {
            font-size: 2rem;
            fill: #3e445a;
          }
        }

        .header__main-top-actions-icon-mobile {
          position: relative;
          display: block;
          @include responsive(lg-screen) {
            display: none;
          }
          & svg {
            font-size: 2.8rem;
            fill: #3e445a;
          }

          .cart__quantity-absolute {
            @include circle-absolute(16px, $danger);
            color: white;
            font-size: 1rem;
            top: 0;
            left: 55%;
            font-weight: 500;
          }
        }

        .header__main-top-actions-icon-danger {
          background-color: #fff1ee;
          position: relative;

          .header__main-top-actions-icon-absolute {
            font-family: $second-font;
            @include circle-absolute(16px, #ea2b0f);
            font-size: 1rem;
            color: $white-opacity;
            top: 0%;
          }

          & svg {
            fill: #ea2b0f;
          }
        }

        &-cart {
          display: flex;
          align-items: center;
          position: relative;
          padding: 0.1875rem 0;
          @include responsive(md-screen) {
            width: 150px;
          }

          &-price {
            display: none;
            @include style-text(600, 1.6rem, 1.6rem, #353848);
            margin-right: 1rem;
            font-family: $second-font;
            text-align: right;

            @include responsive(md-screen) {
              display: block;
              flex: 1;
            }
          }

          .header__main-cart-absolute {
            @include hidden;
            background-color: $white;
            position: absolute;
            z-index: 100;
            box-shadow: $box-shadow-1;
            right: 0;
            top: calc(100% + 8px);
            transition: all 0.2s;
            border-radius: 5px;
          }

          .header__main-top-actions-cart-wrapper:hover
            .header__main-cart-absolute {
            @include responsive(lg-screen) {
              @include show;
            }
          }
        }
      }
    }

    .header__main-bottom {
      display: none;
      @include responsive(xl-screen) {
        display: flex;
        align-items: center;
        background-color: #fff;
        z-index: 1000;
        padding-top: 1.4rem;
      }

      &-right {
        max-width: 300px;
        width: 100%;
      }

      &-left {
        flex: 1;
        .navigation-list {
          display: flex;
          justify-content: flex-end;
          list-style: none;

          &-item {
            & a {
              position: relative;
              font-family: $second-font;
              @include style-text(600, 1.4rem, 1.4rem, $heading-color);
              text-transform: uppercase;
              padding: 1rem 2.4rem;
              margin-right: 0.2rem;
              border-radius: 25px;
              transition: all 0.1s;

              & svg {
                display: none;
              }

              &:hover {
                background-color: $primary-color-opacity;
                color: $primary-color;
              }
            }

            .active {
              background-color: $primary-color-opacity;
              color: $primary-color;
            }

            &:last-child {
              & a {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  &-border-bottom {
    @include responsive(xl-screen) {
      height: 1px;
      width: 100%;
      border-bottom: 1px solid $border-color-1;
    }
  }
}

.nav__mobile {
  @include fixed(0, 0, 0, unset);
  background: #fff;
  height: 50px;
  z-index: 1008;
  display: flex;
  justify-content: center;
  box-shadow: $nav-bottom-box-shadow;
  @include responsive(lg-screen) {
    display: none;
  }
  @media screen and (min-width: 370px) {
    height: $nav-bottom-height;
  }

  &-list {
    @include flex(space-between, center);
    width: 100%;
    list-style: none;

    &-item {
      padding: 0.5rem;
      font-size: 1rem;
      height: 100%;
      flex: 1;
      @include flex-center;
      flex-direction: column;
      cursor: pointer;

      @media screen and (min-width: 400px) {
        padding: 1rem;
      }

      & svg {
        font-size: 2rem;
        fill: #616161;

        @include responsive(sm-screen) {
          font-size: 2.4rem;
        }
      }

      & p {
        font-family: $second-font;
        margin-top: 0.5rem;
        text-align: center;
        display: none;
        @include style-text(500, 1.2rem, 1.2rem, #616161);
        @media screen and (min-width: 370px) {
          margin-top: 0.8rem;
          display: block;
        }

        @include responsive(sm-screen) {
          @include style-text(500, 1.4rem, 1.4rem, #616161);
        }
      }

      &-active {
        & p,
        & svg {
          color: $primary-color;
          fill: $primary-color;
          font-weight: 600;
        }
      }
    }
  }
  // Search
  // &-search-wrapper {
  //   // position: relative;
  // }
}

// Navigation mobile
.menu__mobile {
  &-header {
    @include flex(space-between, center);
    padding: 2rem;

    &-img {
      width: 120px;
    }

    & button {
      & svg {
        font-size: 2.4rem;
        fill: #c2c2d3;
      }
    }
  }

  &-category {
    padding: 2rem;
  }

  .navigation-list {
    list-style: none;
    margin-top: 2rem;

    &-item {
      &:last-child {
        & a {
          border-bottom: 0;
        }
      }

      .active {
        color: $primary-color;
      }

      & a {
        font-family: $second-font;
        display: flex;
        align-items: center;
        padding: 1.5rem 2rem;
        border-bottom: 1px solid $border-color-1;
        @include style-text(600, 1.4rem, 1.4rem, $heading-color);
      }

      & svg {
        font-size: 2rem;
        margin-right: 2rem;
      }
    }
    .navigation-list-item-toggle {
      .active {
        color: $heading-color;
      }

      & a {
        & svg:last-child {
          margin-left: 1.2rem;
        }
      }
    }
  }

  & .category__dropdown-wrapper-active {
    height: 100%;
  }

  .category__dropdown-wrapper {
    transition: all 0.3s cubic-bezier(0.28, 0.12, 0.22, 1);
  }
}

// Cart
.cart__modal-wrapper {
  height: 100vh;
  padding-bottom: 42px;
}

// Menu

.menu__mobile {
  max-height: 100vh;
  padding-bottom: 1.6rem;
  @include hide-scrollbar;
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-y: scroll;

  .category__dropdown {
    margin: 0 2rem;
    display: block;
    @include responsive(lg-screen) {
      display: none;
    }
    .header__category {
      margin-top: -1px;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &-list {
        max-height: unset;
      }
    }
  }
}

.login-custom {
  .auth-container {
    padding-block: 0;
    background-color: #fff;

    .container {
      width: 100%;
      max-width: unset;

      .auth-wrapper {
        width: 100%;
        border-radius: 0;
        box-shadow: unset;
        border: 0;
        background-color: #fff;
      }
    }
  }
}

.nav__mobile-search-wrapper {
  & .header__search-form {
    & .header__search-input {
      border-radius: 0;
    }
  }
}
