.order__container {
  .order-wrapper {
    margin-bottom: 4rem;

    .order__header {
      border-bottom: 1px solid $border-color-1;
      margin-bottom: 2rem;
      @include responsive(lg-screen) {
        margin-bottom: 4rem;
      }

      &-list {
        padding-block: 1rem;
        width: 100%;
        max-width: 1000px;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        list-style: none;

        @include responsive(md-screen) {
          padding-block: 2rem;
        }

        @include responsive(lg-screen) {
          padding-block: 3rem;
        }

        &-item {
          @include flex(flex-start, center);
          flex-direction: column;
          margin-right: 1rem;
          position: relative;
          text-align: center;

          &:last-child {
            margin-right: 0;
          }

          &-btn {
            padding: 0.5rem;

            & svg {
              font-size: 3rem;
              color: $text-color-opacity;
            }

            & p {
              display: none;
              @include style-text(600, 1.2rem, 2.2rem, $text-color);

              @include responsive(md-screen) {
                margin-top: 1rem;
                display: block;
                font-size: 1.3rem;
                line-height: 2.3rem;
              }

              @include responsive(lg-screen) {
                font-size: 1.5rem;
                line-height: 2.5rem;
              }
            }
          }

          &-active {
            & svg {
              color: $yellow;
            }

            & p {
              color: $yellow;
            }
          }
        }
      }
    }

    .order__body {
      display: grid;
      grid-template-columns: 1fr;
      @include responsive(xl-screen) {
        grid-template-columns: repeat(7, 1fr);
      }
      grid-gap: 3rem;

      &-left {
        @include responsive(xl-screen) {
          grid-column: 1 / 6;
        }

        &-full {
          @include responsive(xl-screen) {
            grid-column: 1 / 8;
          }
        }
      }

      &-right {
        @include responsive(xl-screen) {
          grid-column: 6 / 8;
        }
      }
    }

    .address-wrapper {
      margin-bottom: 3rem;
    }
    .order__address-link {
      margin-top: 3rem;
      margin-left: auto;

      & .btn-primary {
        margin-left: auto;
      }
    }
  }
}
