.shop__filter {
  padding-inline: 1.4rem;
  padding-bottom: 2rem;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;

  @include hide-scrollbar;
  &::-webkit-scrollbar {
    display: none;
  }
  @include responsive(screen-1024) {
    max-height: unset;
  }
  display: none;
  @include responsive(screen-1024) {
    display: block;
  }

  &-category {
    display: none;
    @include responsive(screen-1024) {
      display: block;
    }
    .header__category {
      border: none;
      height: 100%;

      .header__category-list-item {
        &-link-wrapper {
          padding-inline: 1rem;
        }

        .header__category-list-item-link {
          padding: 1rem 0;
        }

        .btn-right {
          display: none;
        }

        .btn-down {
          display: block;
        }

        .header__category-child {
          @include hidden;
          display: block;
          position: static;
          max-height: 0;
          border: none;
          transition: all 0.2s linear;

          &-list {
            &-item {
              padding-left: 2rem;

              &-link {
                line-height: 2rem;
              }
            }
          }
        }

        .header__category-child-active {
          @include show;
          max-height: 500px;
        }
      }
    }
  }

  &-item {
    margin-top: 4rem;

    .header__search-form {
      & .header__search-input-clear-active {
        display: none;
      }

      & .header__search-btn {
        pointer-events: none;
      }

      .header__search-input {
        border-radius: 4px;
        padding-right: 5rem;
      }
    }

    &-btn {
      font-family: $second-font;
      margin-top: 2rem;
      text-transform: uppercase;
      @include button(black, white, 1.2rem, 500, 1rem, 0.5rem);
      border-radius: 4px;
    }
  }

  .product__attribute-list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin: 0.3rem;
      background-color: $primary-color-opacity;
      padding: 0.8rem 1rem;
      @include style-text(500, 1.2rem, 1.2rem, $text-color);
      cursor: pointer;
      border-radius: 0.2rem;
      transition: all 0.1s linear;

      &:hover {
        background-color: $primary-color;
      }

      &-active {
        background-color: $primary-color;
      }
    }
  }
}

.modal {
  .shop__filter {
    display: block;
    @include responsive(screen-1024) {
      display: none;
    }
  }
}
