.category__item {
  user-select: none;

  &-wrapper {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &-link {
    color: $text-color;

    &-name {
      @include limit-line-text(2);
      @include style-text(600, 1.2rem, 1.8rem, $text-color);
      margin-top: 1rem;
      text-align: center;

      @include responsive(sm-screen) {
        font-size: 1.3rem;
        line-height: 2rem;
        margin-top: 2rem;
      }
    }
  }

  & .image-container {
    width: 100%;
    height: auto;
    max-width: 70px;

    @include responsive(sm-screen) {
      max-width: 100px;
    }

    @include responsive(md-screen) {
      max-width: 120px;
    }

    @include responsive(lg-screen) {
      max-width: 150px;
    }

    @include responsive(xl-screen) {
      max-width: 100px;
    }
  }
}
