.category__dropdown {
  &-wrapper {
    height: 0;
    @include hidden;
    transition: all 0.3s cubic-bezier(0.28, 0.12, 0.22, 1);
    &-active {
      @include show;
      height: 60vh;
    }
  }

  &-absolute {
    position: relative;
    padding-bottom: 1.4rem;

    & .category__dropdown-wrapper {
      position: static;
      box-shadow: $box-shadow-1;
      width: 100%;
      @include responsive(xl-screen) {
        position: absolute;
        top: calc(100% + 0.1rem);
        left: 0;
        z-index: 100;
        max-width: 330px;
      }
    }

    .header__category {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 0;
      height: 100%;

      & .header__category-list {
        max-height: 100%;
      }
    }
  }

  &-btn {
    @include flex(space-between, center);
    background-color: $primary-color;
    padding: 1.4rem;
    color: $white-opacity;
    font-family: $second-font;
    width: 100%;
    border-radius: 5px;
    @include responsive(xl-screen) {
      width: unset;
      border-radius: 25px;
    }

    & p {
      margin: 0 1.2rem;
      text-transform: uppercase;
      @include style-text(600, 1.4rem, 1.6rem, white);
    }

    & svg {
      font-size: 1.6rem;
      fill: white;
    }
  }
}

.header__category-list-item-has-child:hover {
  .header__category-child {
    @include show;
    visibility: visible !important;
    margin-top: 0 !important;
  }
}
