.swiper {
  &-wrapper {
    .swiper-slide {
      height: auto;

      .product__card {
        height: 100%;

        &:hover {
          border-bottom: 1px solid $border-product-hover;
        }
      }
    }
  }

  // Custom button
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    display: none;
  }

  &-button-prev,
  &-button-next {
    background-color: rgba($color: #000000, $alpha: 0.4);
    @include flex-center;
    width: 20px;
    height: 30px;

    @include responsive(sm-screen) {
      width: 25px;
      height: 35px;
    }

    @include responsive(md-screen) {
      width: 30px;
      height: 40px;
    }

    @include responsive(lg-screen) {
      width: 32px;
      height: 56px;
      opacity: 0.3;
    }

    &::after {
      font-size: 1rem;
      font-weight: bold;
      color: white;

      @include responsive(sm-screen) {
        font-size: 1.2rem;
      }

      @include responsive(md-screen) {
        font-size: 1.6rem;
      }

      @include responsive(lg-screen) {
        font-size: 2.6rem;
      }
    }
  }

  & .swiper-button-next {
    right: 0;
    // border-radius: 2px;
    @include responsive(lg-screen) {
      border-radius: 4px 0 0 4px;
    }
  }

  & .swiper-button-prev {
    left: 0;
    // border-radius: 4px;
    @include responsive(lg-screen) {
      border-radius: 0 4px 4px 0;
    }
  }

  &-pagination {
    display: none;

    @include responsive(sm-screen) {
      display: block;
    }
  }

  &:hover {
    & .swiper-button-prev,
    & .swiper-button-next {
      opacity: 1;
    }
  }
}

.swiper-hide-navigation {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.Toastify__toast-container--top-right {
  top: 0;
  @include responsive(sm-screen) {
    top: 2em;
  }
}

.swiper-pagination-bullet {
  width: 0.8rem;
  height: 0.8rem;
  transition: all 0.2s linear;
}

.swiper-pagination-bullet-active {
  transition: all 0.2s linear;
  background-color: #fff;
}
