.dropdown {
  position: relative;

  &-title {
    padding: 2rem;
    cursor: pointer;
    @include style-text(500, 1.3rem, 1.3rem, $home-heading-color);
    @include flex(space-between, center);

    & .dropdown-icon-active {
      transform: rotate(180deg);
    }

    & .dropdown-icon {
      transition: all 0.2s;
      margin-left: 1rem;
      font-size: 1.6rem;
    }
  }

  &-list {
    position: absolute;
    border: 1px solid $border-color-1;
    top: 100%;
    right: 0;
    padding: 2rem 0;
    z-index: 100;
    background: white;
    box-shadow: $box-shadow-2;
    list-style: none;
    overflow-y: auto;
    animation: fade-in 0.2s linear;

    &-limit {
      max-height: 30vh;
    }

    &-item {
      display: block;
      padding: 1.2rem 5rem 1.2rem 2rem;
      @include style-text(500, 1.3rem, 2.3rem, $text-color);
      cursor: pointer;

      &:hover {
        color: $cyan;
      }

      &-active {
        color: $cyan;
      }

      &-result {
        pointer-events: none;
      }
    }

    &-with-search {
      padding-top: 0;
      position: absolute;

      & .dropdown-search-wrapper {
        position: relative;
        height: 40px;

        & .dropdown-search {
          margin-bottom: 1.2rem;
          padding-inline: 2rem;
          border-radius: 0;
          border: 0;
          border-bottom: 1px solid $border-color-1;
          padding-right: 3.5rem;
          height: 100%;

          &:focus {
            border: 1px solid $primary-color;
            border-radius: 0.4rem;
          }
        }

        & button {
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);
          @include flex-center;

          & svg {
            font-size: 1.6rem;
            fill: $text-color-opacity;
          }
        }
      }

      & li:first-child {
        margin-top: 2rem;
      }
    }
  }
}
