.modal__confirm-container {
  @include fixed(0, 0, 0, 0);
  z-index: 2001;

  .modal__confirm {
    padding: 2rem;
    width: 100%;
    width: 96vw;
    box-shadow: $box-shadow-3;

    @media screen and (min-width: 400px) {
      max-width: 400px;
    }
    @include flex(space-between, center);
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    &-header {
      @include flex(space-between, center);

      &-close-btn {
        width: unset;
        height: unset;
        position: absolute;
        top: 1.2rem;
        right: 0.8rem;

        & svg {
          font-size: 2.4rem;
          color: $text-color;
        }
      }
    }

    &-body {
      flex: 1;
      margin-top: 2rem;
      margin-bottom: 4rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      &-icon {
        margin-bottom: 2rem;

        & svg {
          font-size: 5rem;
          fill: $red;
        }
      }

      &-heading {
        @include style-text(600, 2rem, 3rem, $text-color);
        margin-bottom: 2rem;
      }

      &-desc {
        text-align: center;
        @include style-text(500, 1.4rem, 2.4rem, $text-color);
      }
    }

    &-footer {
      @include flex(flex-end, center);

      &-btn {
        border-radius: 0.4rem;
        padding-block: 0.8rem;

        &-cancel {
          background-color: #6c757d;
        }

        &-delete {
          background-color: $red;
          margin-left: 1rem;
        }
      }
    }
  }
}

.modal__confirm-overlay {
  @include fixed(0, 0, 0, 0);
  background-color: rgba($color: #000, $alpha: 0.4);
  z-index: 2000;
  display: none;
  animation: fade-in 0.2s linear;

  &-active {
    display: block;
  }
}
