.product__sale {
  margin-bottom: 3rem;

  & .product__countdown-remains {
    display: none;
  }

  & .home__heading-text h3 {
    margin-bottom: 0;
  }

  & .product__countdown {
    margin-top: 0;
  }
}
