.product__detail-tabs {
  background-color: $white;
  border-radius: 0.4rem;
  border: 1px solid $border-color-2;
  padding: 1.5rem 1rem;

  @include responsive(xs-screen) {
    padding: 1.5rem;
  }

  @include responsive(sm-screen) {
    padding: 2rem;
  }

  @include responsive(lg-screen) {
    padding: 2rem 3rem;
  }

  &-header {
    border-bottom: 1px solid $border-color-1;
    display: flex;

    &-heading {
      cursor: pointer;
      padding-bottom: 1rem;
      @include style-text(500, 1.4rem, 2.2rem, $text-color);

      @include responsive(sm-screen) {
        font-size: 1.5rem;
        line-height: 2.3rem;
      }

      @include responsive(lg-screen) {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }

      & + & {
        margin-left: 2rem;
        @include responsive(sm-screen) {
          margin-left: 3rem;
        }
      }

      &-active {
        color: $primary-color;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          height: 2px;
          width: 100%;
          background-color: $primary-color;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &-content {
    padding-block: 3rem;

    .product__tab-content-text {
      @include style-text(400, 1.5rem, 3rem, $text-color);
    }

    &-desc {
    }
  }
}
